{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="grid-x">

    <div class="cell small-4 " >
		<img src="{{ asset('assets/images/vacit-login.png')}}" class="log-logo">
    </div>

    <div class="cell small-8 login">

        <h2 style="color: #F15A24; font-family: Bebas Neue; font; font-size: 60px;">REGISTER</h2>

    {{ form_start(registrationForm) }}
        <div class="line">{{ form_row(registrationForm.email) }}</div>
    
        {{ form_row(registrationForm.plainPassword, {
             class:'line', label: 'Password'
        }) }}
    
        
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
