  {% extends 'base.html.twig' %}

{% block title %}Hello ProfielController!
{% endblock %}

{% block body %}
	<style>

	</style>


<div class="grid-x" style="margin-left: 243px;">
	<div class="cell small-6 " style="margin-top: 130px; ">
		<div class="mijnprofiel">MIJN PROFIEL</div>
	</div>
</div>

<div class="grid-x" style="margin-left: 243px; padding-bottom: 20px;">
		<div class="cell small-6 " style="">
			<form role="form" action="{{ path('updateProfiel', {id: user.id}) }}" method="POST">
				
				<div class="form-group">
					<label for="voornaam">
						<p class="">bedrijfsnaam</p>
					</label>
					<input type="text"  id="voornaam" value="{{user.voornaam}}" class="line3">
				</div>
		</div>

			
	</div>

    <div class="grid-x" style="margin-left: 243px; padding-bottom: 20px;">
            	<div class="cell small-11 form-group">
					<label for="email">
						<p class="">email</p>
					</label>
					<input type="email"  name="email" id="email" value="{{user.email}}" class="line3">
				</div>
	</div>

       <div class="grid-x" style="margin-left: 243px; padding-bottom: 20px;">
            	<div class="cell small-3 form-group">
					<label for="geboortedatum">
						<p class="">datum van oprichting</p>
					</label>
					<input type="geboortedatum" name="geboortedatum" id="geboortedatum" value="{{user.geboortedatum}}" class="line2">
				</div>

            	<div class="cell small-8 form-group">
					<label for="telefoonnummer">
						<p class="">telefoonnummer</p>
					</label>
					<input type="telefoonnummer" name="telefoonnummer" id="telefoonnummer" value="{{user.telefoonnummer}}" class="line">
				</div>
			</div>
	    
		<div class="grid-x" style="margin-left: 243px; padding-bottom: 20px;">

            	<div class="cell small-11 form-group" style= "">
					<label for="adres">
						<p class="">adres</p>
					</label>
					<input type="adres" id="adres" name="adres" value="{{user.adres}}" class="line3">
				</div>
		</div>

		<div class="grid-x" style="margin-left: 243px; margin-bottom: -80px;" >

            	<div class="cell small-3 form-group">
					<label for="postcode">
						<p class="">postcode</p>
					</label>
					<input type="postcode" id="postcode" name="postcode" value="{{user.postcode}}" class="line2">
				</div>

            	<div class="cell small-8 form-group" style="">
					<label for="woonplaats">
						<p class="">vestigingsplaats</p>
					</label>
					<input type="woonplaats" id="woonplaats" name="woonplaats" value="{{user.Woonplaats}}" class="line">
				</div>
		</div>

<div class="grid-x" style="">
		<div class="cell small-8 " style="margin-left: 240px; color: grey; font-size: 20px;  font-style: italic;">
			</div>
		</div class="cell small-4">
                <i class="fas fa-arrow-right vac-arrow" style ="margin-top: 150px; padding-bottom: 360px; margin-left: 240px;" ></i><button type="submit" id="submit" class="btn knop" style="margin-top: 10px;">OPSLAAN</button>
		</div>
			</form>
		</div>
{% endblock %}
