{% extends 'base.html.twig' %}

{% block title %}VacIt Homepage
{% endblock %}

{% block body %}



<script>

    
$(function() {
     $("#vacatureDraaimolen").vegas({
                transition: 'slideRight2',
			    transitionDuration: 500,
			    overlay: false,



                slides: [
				{% for vacature in vacatures %}
             		{ src: "{{ asset(vacature.systeem.plaatje) }}"},
              		
                {% endfor %}
                ],
             
            });
        })
    </script>

	    <div class="grid-x" style="background-color: #F15A24;">
        	<div class="cell small-3"> 
            	<div id="vacatureDraaimolen" style="height: 300px; width: 300px; margin-top: 50px;"></div>
            </div>
        </div>



<div class="grid-x main" style="">
	{% for vacature in vacatures|slice(0, 5) %}
			<div class="cell small-4 plaatje ">
				<div class="hexagon"></div>
				<img src="{{asset(vacature.systeem.plaatje)}}" class="imageHex">
			</div>
			
			<div class="cell small-8 info" >
					<div style="font-weight: 600;">  {{vacature.datum.format('d/m/Y')}}</div>
					<div style="font-family: Roboto Condensed; color: white; font-size: 32px">{{vacature.titel}}</div>
					<div class="omschrijvingK">{{vacature.omschrijving}}</div>
					<a href="{{ path('vacature' , { 'id' : vacature.id }) }}">
					<i class="fas fa-arrow-right arrowK" style=""></i>
				</a>
			</div>
		{% endfor %}
</div>

<div class="grid-x main">
	<div class="cell small-6" style="color: white; margin-left: 450px; z-index: 30;">
		<a href="{{ path("vacatures") }}">
			<i class="fas fa-arrow-right home-arrow"></i>
			<button type="submit" class="btn home-knop">ALLE VACATURES</button>
		</a>
	</div>
</div>



{% endblock %}

