{% extends 'base.html.twig' %}

{% block title %}VacIt Homepage
{% endblock %}

{% block body %}
<script>

    
{% for vacature in vacatures %}
$("#example, body").vegas({
    slides: [
        { src: "/assets/images.lunx-logo.png" },
        { src: "{{asset(vacature.systeem.plaatje)}}"},
        { src: "/img/slide3.jpg" },
        { src: "/img/slide4.jpg" }
    ]
});
{% endfor %}
</script>

<div class="grid-x main">

</div>

<div class="grid-x main" style="">
	{% for vacature in vacatures %}
			<div class="cell small-4 plaatje ">
				<div class="hexagon"></div>
				<img src="{{asset(vacature.systeem.plaatje)}}" class="imageHex">
			</div>
			
			<div class="cell small-8 info" >
					<div style="font-weight: 600;">  {{vacature.datum.format('d/m/Y')}}</div>
					<div style="font-family: Roboto Condensed; color: white; font-size: 32px">{{vacature.titel}}</div>
					<div class="omschrijvingK">{{vacature.omschrijving}}</div>
					<a href="{{ path('vacature' , { 'id' : vacature.id }) }}">
					<i class="fas fa-arrow-right arrowK" style=""></i>
				</a>
			</div>
			


	
		
{% endfor %}
</div>
{% endblock %}

