{% extends 'base.html.twig' %}

{% block title %}VacIt Homepage
{% endblock %}

{% block body %}







<div class="grid-x main" style="padding-bottom: 100px;">
	{% for vacature in vacatures %}
			<div class="cell small-4" ><img class="plaatje" src="{{asset(vacature.systeem.plaatje)}}"></div>
			
			<div class="cell small-4">
				<div class="info">
					<div style="font-weight: 600;">  {{vacature.datum.format('d/m/Y')}}</div>
					<div style="font-family: Roboto Condensed; color: white; font-size: 32px">{{vacature.titel}}</div>
					<div class="omschrijvingK">{{vacature.omschrijving}}</div>
				</div>
			</div>
			
			<div class="cell small-4">
				<a href="{{ path('vacature' , { 'id' : vacature.id }) }}">
					<i class="fas fa-arrow-right arrowK"></i>
				</a>
			</div>

	
		
{% endfor %}
</div>
{% endblock %}

