{% extends 'base.html.twig' %}

{% block title %}Hello ProfielController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="grid-x ">


		<div class="cell medium-8 vacature">

			<p>MIJN PROFIEL</p>
			<form role="form" action="{{ path('saveProfiel', {id: user.id}) }}" method="POST">
				<div class="form-group">
					<label>
						<p class="">Voornaam</p>
					</label>
					<input type="text" value="{{user.voornaam}}" class="line">
				</div>

				<div class="form-group">
					<label>
						<p class="">Achternaam</p>
					</label>
					<input type="text" value="{{user.achternaam}}" class="line">
				</div>
                
            	<div class="form-group">
					<label>
						<p class="">email</p>
					</label>
					<input type="text" value="{{user.email}}" class="line">
				</div>
            
            	<div class="form-group">
					<label>
						<p class="">geboortedatum</p>
					</label>
					<input type="text" value="{{user.geboortedatum}}" class="line">
				</div>

            	<div class="form-group">
					<label>
						<p class="">telefoonnummer</p>
					</label>
					<input type="text" value="{{user.telefoonnummer}}" class="line">
				</div>

            	<div class="form-group">
					<label>
						<p class="">adres</p>
					</label>
					<input type="text" value="{{user.adres}}" class="line">
				</div>

            	<div class="form-group">
					<label>
						<p class="">Postcode</p>
					</label>
					<input type="text" value="{{user.postcode}}" class="line">
				</div>

            	<div class="form-group">
					<label>
						<p class="">Woonplaats</p>
					</label>
					<input type="text" value="{{user.Woonplaats}}" class="line">
				</div>
				<a href=">
                <i class="fas fa-arrow-right" style ="color: red"></i><button type="submit" id="submit" class="btn">OPSLAAN</button>
				</a>
			</form>
		</div>

	</div>
{% endblock %}
