<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/foundation/css/main.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/foundation/css/foundation.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/foundation/css/foundation-float.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/fontawesome.css') }}"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('assets/vegas/vegas.min.css') }}"/>


		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}

		{% endblock %}
		<script src="{{ asset('assets/vegas/vegas.min.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
		<script type="text/javascript" language="javascript" src="{{ asset('assets/foundation/js/foundation.js') }}"></script>


		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>


		<div class="grid-x header">
			<div class="cell small-3">

				<a href="{{ path('homepage') }}">
					<img src="{{ asset('assets/images/vacit-logo-white.png')}}" class="logo">
				</a>
			</div>


			<div class="cell small-3 ">

				<div class="registreren" style="width: 200px">
					{% if not is_granted('ROLE_USER') %}
				
					{% elseif is_granted('ROLE_WERKNEMER') %}
						<a href="{{ path('profiel') }}">MIJN PROFIEL</a>
					{% elseif is_granted('ROLE_WERKGEVER') %}
						<a href="{{ path('profielWG')}}">MIJN PROFIEL</a>
					{% endif %}
				</div>
			</div>

			<div class="cell small-3">
				<div class="mijn" style="width: 250px">

					{% if not is_granted('ROLE_USER') %}
							<a href="{{ path('register') }}">REGISTREREN</a>
						{% elseif is_granted('ROLE_WERKNEMER') %}
							<a href="{{ path('sollicitaties', { 'id' : app.user.id })}}">
								MIJN SOLLICITATIES</a>
						{% elseif is_granted('ROLE_WERKGEVER') %}
							<a href="{{ path('werkgever', { 'id' : app.user.id }) }}">MIJN VACATURES</a>
					{% endif %}
				</div>
			</div>


			<div class="cell small-3" style="">
				<div class="log">
					{% if not is_granted('ROLE_USER') %}
						<a href="{{ path('login') }}">INLOGGEN</a>
					{% else %}
						<a href="{{ path('logout') }}">UITLOGGEN</a>
					{% endif %}
				</div>
			</div>


		</div>
	</body>
</html></div><div style="background-color: #F15A24; z-index: -10;">
<div class="header-line"></div></div>{% block body %}{% endblock %}<div class="footer-line"></div><div class="grid-x footer" style="zindex-30; ">

<div style="color: white; margin-left: 30px; margin-top: 20px;" class="cell small-8">
	<p style=" font-family: Roboto Condensed; font-size: 35px;">ADRES</p>
	<p class="footer-text" style="height: 20px;">Sleedoornstraat 36</p>
	<p class="footer-text" style="margin-top -10px;">6101AS</p>
	<p></p>
	<p style="font-family: Roboto Condensed;  font-size: 35px;">PRIVACY</p>
	<p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing 36</p>
</div>

<div class="cell small-3">
	<a href="{{ path('homepage') }}">
		<img src="{{ asset('assets/images/vacit-logo-white.png')}}" class="logo-footer">
	</a>
</div></div></body></html>
